@charset "utf-8";
/**!
 * fxhash webpack boilerplate  
 * Copyright 2023 Iuri Guilherme <https://iuri.neocities.org/>  
 * 
 * This program is free software: you can redistribute it and/or modify it 
 * under the terms of the GNU Affero General Public License as published by the 
 * Free Software Foundation, either version 3 of the License, or (at your 
 * option) any later version.  
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT 
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
 * FITNESS FOR A PARTICULAR PURPOSE.  
 * See the GNU Affero General Public License for more details.  
 * 
 * You should have received a copy of the GNU Affero General Public License 
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.  
 * 
 */
html {
  margin: 0 auto;
  padding: 0 auto;
}
body {
  /* leave it to hide the scrollbars */
  overflow: hidden;
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  place-items: center;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}
